<h1>Editing Users Office Education</h1>

<%= render 'form', users_office_education: @users_office_education %>

<%= link_to 'Show', @users_office_education %> |
<%= link_to 'Back', users_office_educations_path %>
