<br/>
<br/>
<br/>

<div class="container img_nossos_produtos" id="nossos_produtos">
        <div class="row">
            <div class="col-md-12">
                <div class="nossos_produtos">
                <% @users_office_credits.each do |credit|%>
                 <h2><%= credit.title %></h2>
                    <p><%= credit.content%></p>
                <% end %>    
                </div>
            </div>
        </div>
    </div>

