<br/>
<br/>
<br/>

<div class="container img_nossos_produtos" id="nossos_produtos">
        <div class="row">
            <div class="col-md-12">
                <div class="nossos_produtos">
                <br>
                    <h3 class="text-center"> INFORMAÇÕES IMPORTANTES PARA SOLICITAR EMPRÉSTIMO </h3>   

                  <table class="table table-hover">
  <thead>
    <tr>
      <br>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td colspan="3">DOCUMENTOS NECESSÁRIOS</td>
      <td>IDENTIDADE E CPF; COMPROVANTE DE RENDA E RESIDÊNCIA;EXTRATO BANCÁRIO CONTENDO NÚMERO DA AGÊNCIA E CONTA PARA DEPÓSITO ( CONTA CORRENTE OU POUPANÇA EM NOME PRÓPRIO).</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td colspan="3">DADOS SOLICITADOS </td>
      <td>CASO O FUNCIONÁRIO SEJA CASADO(A) SERA NECESSÁRIO INFORMAR O NOME COMPLETO DO CÔNJUGE E NÚMERO DE CPF DO MESMO.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="3">AGENDE SEU ATENDIMENTO</td>
      <td>A EQUIPE DA PINCRED ENTRARÁ EM CONTATO COM VOCÊ PARA CONFIRMAR OS VALORES AUTORIZADOS E AGENDAR A DATA E HORÁRIO PARA A ASSINATURA DO SEU CONTRATO E ENTREGA DOS DOCUMENTOS.</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td colspan="3">LOCAL DE ATENDIMENTO</td>
      <td>
        PINTOS MAGAZINE - RUA ÁLVARO MENDES, 1237 - CENTRO - TERESINA/PIAUI - 09:00 ÀS 13:00 
       <p> PINTOS SHOPPING - RUA DAS TULIPAS, 500 - JOCKEY - TERESINA/PIAUI - 14:00 ÀS 18:00</p> 
      </td>
    </tr>
  </tbody>
</table>

                </div>
            </div>
        </div>
    </div>


